<div class="container second-floor-bg">
    <div class="row">
        <div class="span8">
            <% Article.order("created_at DESC").each do |article| %>
                <div class="article-list-title">
                    <%= link_to article.title, article %>
                    <% if user_signed_in? && current_user.id == article.user_id %>
                        <div class="cpanel">
                            <%= link_to image_tag('ui/edit.png'), edit_article_path(article) %>
                            <%= link_to image_tag('ui/delete.png'), article, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    <% end %>
                </div>
                <div class="articles">
                     - In <%= article.category.name %> - <%= time_ago_in_words(article.created_at) %> ago...
                    <%= truncate(article.content , :length => 456) %>
                </div>
            <% end %>
        </div>

        <div class="span4">
            <% if user_signed_in? %>
                <%= current_user.username %>
            <% end %>
        </div>

    <%= link_to 'New Article', new_article_path %>
</div>